  #Pocetna {
    text-align: center;
    font-size: 1.3vw;
    list-style-position: inside;
  }

  #Pocetna ol{
    display: flex;
    flex-direction: column;
    padding-left: 0; 
    list-style-position: inside; 
  }

  #Pocetna ol li{
    text-align: left;
  }

  .liMasine {
    list-style: none;
    display: flex;
    gap: 7vw;
    padding: 0;
    justify-content: center;
    background-color: #1663BC;
  }
  
  .liMasine li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.3vw;
    font-weight: bold;
  }
  
  .liMasine li img {
    width: 14vw;
    height: 15vw;
    margin-top: 0.5vw;
    color: #3e7edf;
    border: solid white;
    border-radius: 6px;
  }