#uvod-rezervacije-container {
    text-align: center;
    padding: 20px;
  }
  
  #uvod-rezervacije-title {
    font-size: 2.5vw;
    color: white;
    margin-bottom: 20px;
  }
  

  #uvod-rezervacije-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  #moje-rezervacije-button {
    padding: 1vw 2vw;
    font-size: 1.2vw;
    background-color: black;
    color: white;
    border: solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #moje-rezervacije-button:hover {
    background-color: gray;
  }
  
  #napravi-rezervaciju-button {
    padding: 1vw 2vw;
    font-size: 1.2vw;
    background-color: black;
    color: white;
    border: solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #napravi-rezervaciju-button:hover {
    background-color: gray;
  }
  

  #uvod-rezervacije-not-logged-in {
    margin-top: 20px;
  }
  
  #uvod-rezervacije-message {
    font-size: 1.5vw;
    color: white;
    margin-bottom: 20px;
  }
  
  #registrujte-se-button {
    padding: 1vw 2vw;
    font-size: 1.2vw;
    background-color: black;
    color: white;
    border: solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #registrujte-se-button:hover {
    background-color: gray;
  }

  #BezRez{
   background-color: black;
  border: 0.2vw solid white;
  border-radius: 0.5vw;
  padding: 1vw;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 5vw;
  max-width: 10%;
  margin: 3vw auto;
  }