body {
  background-color: black;
  color: white;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 10vw;
}
main{
  padding-top: 1%;
  min-height: 80vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
}

#pozadinaMargina1{
  position: fixed;
  bottom: 0;
  left: 0; 
  width: 5vw;
  height: 100%; 
  z-index: -1; 
}

#pozadinaMargina2{
  position: fixed;
  bottom: 0; 
  right: 0;
  width: 5vw;
  height: 100%; 
  z-index: -1; 
}

.slicica1 {
  float: left;
  width: 17vw;
  padding-top: 3%;
}

.slicica2 {
  float: left;
  width: 15vw;
  vertical-align: bottom;
}

.slicica3 {
  float: right;
  width: 10vw;
  vertical-align: bottom;
}

.slicica4 {
  float: right;
  width: 15vw;
  vertical-align: bottom;
}

.kontakt {
  width: 100%;
  height: 10vw;
  background-color: black;
  color: white;
  border-top: 0.3vw solid white;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  color: white;
  text-align: left;
}

table {
  align-self: center;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 40px auto;
  width: auto;
  padding-right: 20px;
}

th,
td {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.3vw;
  border-radius: 5px;
  min-width: 100px;
  min-height: 80px;
  padding: 10px;
}

ul {
  list-style-type: none;
}
